<!-- <ul> MakerSquare Students:
	<li><%#= link_to "Greg Hild", greg_hild_student_path %></li>
	<li><%#= link_to "Jae Lee", jae_lee_student_path %></li>
	<li><%#= link_to "Bonnie Mattson", bonnie_mattson_student_path %></li>
	</ul>
 -->

 <h1> MakerSquare Students </h1>
 	<% @profiles.each do |profile| %>
 		<li><%= link_to profile.fullname, student_path(profile) %>
 	<% end %>


